/*
  Responsive Menu Styles
*/

.responsiveMenuContainer {

  & .responsiveMenu__mobile {
    display: none;
  }

  & .responsiveMenu__Items {
    width: 100%;

    & .responsiveMenu__List {
      list-style: none;
      & > li {
        box-sizing: border-box;
        float: left;

        & .responsiveMenu__Item {
          display: block;
          color: #666;
          text-align: center;
          padding: 6px 12px;
          text-decoration: none;

          &:hover {
            background-color: $globalNavBackgroundHover;
            text-decoration: none;
          }

          &.selected {
            background-color: white;
          }
        }
      }
    }
  }
}
